fonttools==4.58.5
fsspec==2025.7.0
joblib==1.5.1
matplotlib==3.8.3
numpy==1.26.4
opencv-python==4.8.1.78
pandas==2.3.1
pillow==10.3.0
psutil==7.0.0
py-cpuinfo==9.0.0
pytz==2025.2
scikit-learn==1.6.1
scipy==1.13.0
sympy==1.13.1
threadpoolctl==3.6.0
tqdm==4.66.2
tzdata==2025.2
ultralytics==8.3.170
ultralytics-thop==2.0.14